{{#if resume.work.length}}
  <div class="container work-container">
    {{> title value="Experience"}}

    {{#each resume.work}}
      <section class="item {{#if x-compact}}compact{{/if}}">
        {{> section-header name=this.company }}

        {{#if position}}
          <h4>{{position}}</h4>
        {{/if}}

        {{#if summary}}
          {{marked summary}}
        {{/if}}

        {{#if highlights.length}}
          <ul>
            {{#each highlights}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
        {{/if}}

        {{#if x-projects.length}}
          {{#each x-projects}}
            <div class="project markdown">
              <h4> {{ name }}</h4>
              {{marked summary}}
            </div>
          {{/each}}
        {{/if}}
      </section>
    {{/each}}
  </div>
{{/if}}
